[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "==1.4.4"
requests = "*"
pyspark = "*"
awswrangler = "==2.17.0"
pyarrow = "==8.0.0"
pycountry = "*"
apache-airflow = "==2.4.1"
great_expectations = "~=0.14.13"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"
