[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
great_expectations = "*"
pandas = "*"
requests = "*"
pyspark = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
