[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
requests = "*"
pyspark = "*"
awswrangler = "*"
pyarrow = "*"
pycountry = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
